.content-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bars {

    height: 80%;

    $bars: 4;
    @for $i from 1 to ($bars+1) {

        rect:nth-of-type(#{$i}){
            $delay: $i/5;
            opacity: 0;
            transform: rotate3d(1, 1, 0, 50deg);
            animation: 1s #{$delay}s ease fadeInAndSpin;
            animation-fill-mode: forwards;  
        }

    } 

    path {
        opacity: 0;
        animation: 2s 1.5s linear fadeIn;
        animation-fill-mode: forwards;
    }

}

@keyframes fadeInAndSpin {
 
    100% {
        opacity: 1;
        transform: rotate3d(1, 1, 0, 0deg);
    }
 
}
 
@keyframes fadeIn {
 
    100% {
        opacity: 1;
    }
 
}